/* Box sizing */
*, *:before, *:after {
	box-sizing: border-box;
}

/* Media */

.img {
	max-width: 100%;
	height: auto;
	display: block;
}

.video {
	max-width: 100%;
	height: auto;
	display: block;
}

/* Helper tags */

.hidden {
	display: none !important;
}

.invisible {
	visibility: hidden;
}

.clearfix {
	overflow: auto;
}

.text-center {
	text-align: center;
}

/* Accesibility */
a {
  color: blue;
  text-decoration: none;
}
a:hover, a:visited, a:focus, a:active {
	text-decoration: underline;
}
