.nav {
		margin: 0;
    padding: 0;
		list-style-type: none;
		.nav-item {
			display: block;
			padding: 10px;
			a {
				text-decoration: none;
				text-align: center;
				color: gray;
				padding: 10px;
			}
      a:hover {
        color: lightgray;
      }
		}
	}

.nav-fixed {
	overflow: hidden;
	position: fixed;
	top: 0;
	width: 100%;
}
